 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>


<ng-container *ngIf="cartDataArray">
    <app-menu-or-view-cart [items]="cartDataArray" 
    [cartData]="cartData" 
    [cart]="true" 
    [headerText]="'Cart'" 
    [headerIcon]="'fa-trash'"
    [totalCartLength] ="totalCartLength"
    [totalPaymentAmount]="totalPaymentAmount"
    (increaseQuantityAction)="addProductToCart($event)"
    (decreaseQuantityAction)="deleteProductFromCart($event)"
    (headerAction)="emptyCart()"
    >
  </app-menu-or-view-cart>
  </ng-container>