<div *ngIf="spinnerWithoutBackdrop" class="loading-indicator center">

  <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
  </mat-progress-spinner>

</div>

<div *ngIf="productsData">

  <div fxLayout="row" fxLayoutAlign="space-around center">

    <div fxFlex="25">
      <h3 style="text-align:center">Menu</h3>
    </div>

    <div fxFlex="10">
      <mat-icon fxLayoutAlign="end" fontSet="fa" fontIcon="fa-plus fa-lg" class='clickableAwesomeFont' (click)="addProduct()"></mat-icon>
    </div>

  </div>

  <hr>

  <mat-grid-list [cols]=" breakpoint " rowHeight="2:1 " (window:resize)="onResize($event) ">
    <mat-grid-tile class='clickableAwesomeFont' *ngFor="let product of productsData ">

      <mat-card fxFlex="80">

        <mat-card-content fxLayout.xs="column ">

          <div fxLayout="row" fxLayoutAlign="space-around center ">

            <div fxFlex="50" (click)="editProduct(product) ">
              <img width="120" src="{{product?.photo}} ">

              <div *ngIf="cartData[product.productId]&&cartData[product.productId].quantity " class="circle ">{{cartData[product.productId].quantity}}</div>

            </div>

            <div fxFlex="35" (click)="editProduct(product) ">

              <p class="font ">{{product?.name}}</p>
              <p class="font " id="servingSize ">{{product?.servingSize}}</p>
              <p class="font " id="price ">{{product?.price}} EGP</p>

            </div>

            <div fxFlex="10">
              <mat-icon (click)="addProductToCart(product)" class='clickableAwesomeFont' fxLayoutAlign="end" fontSet="fa " fontIcon="fa-plus fa-lg "></mat-icon>
              <br>
              <hr>
              <br>
              <mat-icon (click)="deleteProductFromCart(product) " class='clickableAwesomeFont' fxLayoutAlign="end" fontSet="fa " fontIcon="fa-minus fa-lg "></mat-icon>

            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>

  <div fxLayout="row">

    <button *ngIf="totalCartLength" mat-button class="view-cart-btn">
      <mat-icon style="font-size:20px;margin-right:10px" fontSet="fa" fontIcon="fa-shopping-cart">
        <span style="margin-left:10px ">{{totalCartLength}}</span>
      </mat-icon>
    </button>

    <button *ngIf="totalPaymentAmount " mat-button class="payment-btn ">
      <strong class="font ">PAY {{totalPaymentAmount}} EGP</strong>
    </button>

  </div>

</div> 

