<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<ng-container *ngIf="productsData">
  <app-menu-or-view-cart [items]="productsData" 
  [cartData]="cartData" 
  [menu]="true" 
  [headerText]="'Menu'" 
  [headerIcon]="'fa-plus'"
  [totalCartLength] ="totalCartLength"
  [totalPaymentAmount]="totalPaymentAmount"
  (increaseQuantityAction)="addProductToCart($event)"
  (decreaseQuantityAction)="deleteProductFromCart($event)"
  (headerAction)="addProduct()"
  (editItemAction)="editProduct($event)"
  >
</app-menu-or-view-cart>
</ng-container>